body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(135deg, #b71c1c, #fbc02d, #2e7d32);
  overflow: hidden;
}


body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.presentacion {
  background: rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(20px); */
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
  animation: fadeIn 1s ease-in-out;
  position: relative;
  z-index: 1; 
}


.marca {
  background: #b71c1c; 
  padding: 15px;
}
.titulo_marca {
  font-size: 22px;
  font-weight: 800;
  margin: 0;
  color: #fff;
}

#tituloTrivia{
    color: #444;
}
.pPregunta {
    color: #666;
}

.opcion {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(220, 239, 255);
  display: block;
  margin: 20px 20px;
  text-align: left;
  font-size: 16px;
  color: #333;
  text-align: center;
}

input[type="radio"] {
    display: none;
}

#siguienteBtn, #finalizarBtn {
    margin: 15px 30px;
    padding: 10px 20px;
    border-radius: 10px;
    float: right;
}